# Calibre

Advanced, scalable and modular gun plugin for Paper

---

## Download

[JAR](${project.scm.url}/-/jobs/artifacts/master/raw/target/${project.name}.jar?job=build)

[GitLab](${project.scm.url})

Maven dependency:

```xml
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</dependency>
```

## Usage

The JavaDocs can be browsed [here](./apidocs/index.html).
